{% extends 'base.html' %}
{% load stripe_api_pk %}
{% block head %}<script src="https://js.stripe.com/v3/"></script> {% endblock head %}
{% block title %}<title>Buy {{ item }}</title>{% endblock title %}
{% block content %}
<h1>{{ item }}</h1>
<p>Description of {{ item }}</p>
<p>{{ item.description }}</p>
<button id="buy-button">Buy</button>
{% get_pk as pk %} 
<script type="text/javascript">
  var stripe = Stripe('{{ pk }}');
  var buyButton = document.getElementById('buy-button');
  buyButton.addEventListener('click', function() {
    fetch(`/buy_item/{{ item.id }}`, {method: 'GET'})
    .then(response => response.json())
    .then(session => stripe.redirectToCheckout({ sessionId: session.id }))
  });
</script>
{% endblock content %}
